@{
    ViewData["Title"] = "Query6";
}

<div class="content">
    <div class="text-center">
        <h2>Запити</h2>
    </div>

    <div id="employeesByServices">
        <h3>Запит 6:</h3>
        <h4>Знаходження імен всіх працівників, які надають точно такі ж послуги як і обраний працівник</h4>
        <form asp-controller="Queries" asp-action="Query6" method="post">
            <div class="form-group">
                <label for="employeeId">Працівник</label>
                <select class="form-control" id="employeeId" name="employeeId" asp-items="ViewBag.Employees" required></select>
            </div>
            <div style="display: flex; margin-top: 15px; gap: 15px;">
                <button type="submit" class="btn btn-primary">Надіслати запит</button>
                <a class="btn-back-new" asp-action="Index">Повернутися до запитів</a>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p>@ViewBag.Message</p>
        }

    </div>

</div>
