@{
    ViewData["Title"] = "Query7";
}

<div class="content">
    <div class="text-center">
        <h2>Запити</h2>
    </div>

    <div id="clientsByReservations">
        <h3>Запит 7:</h3>
        <h4>Знаходження імен всіх клієнтів, у яких кількість бронювань така сама, як і у обраного клієнта</h4>
        <form asp-controller="Queries" asp-action="Query7" method="post" class="query-form">
            <div class="form-group">
                <label for="clientId">Клієнт</label>
                <select class="form-control" id="clientId" name="clientId" asp-items="ViewBag.Clients" required></select>
            </div>
            <div style="display: flex; margin-top: 15px; gap: 15px;">
                <button type="submit" class="btn btn-primary">Надіслати запит</button>
                <a class="btn-back-new" asp-action="Index">Повернутися до запитів</a>
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p>@ViewBag.Message</p>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.FirstName</td>
                        <td>@client.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

</div>