@{
    ViewData["Title"] = "Query3";
}

<div class="content">
    <div class="text-center">
        <h2>Запити</h2>
    </div>

    <div id="timeSlotsByCategory">
        <h3>Запит 3:</h3>
        <h4>Пошук таймслотів за обраною категорією</h4>

        <form asp-controller="Queries" asp-action="Query3" method="post" class="query-form">
            <div class="form-group">
                <label for="categoryId">Оберіть категорію:</label>
                <select class="form-control" id="categoryId" name="categoryId" asp-items="ViewBag.Categories" required></select>
            </div>
            <div style="display: flex; margin-top: 15px; gap: 15px;">
                <button type="submit" class="btn btn-primary">Надіслати запит</button>
                <a class="btn-back-new" asp-action="Index">Повернутися до запитів</a>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Час початку</th>
                    <th>Час завершення</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var timeSlot in Model)
                {
                    <tr>
                        <td>@timeSlot.Date</td>
                        <td>@timeSlot.StartTime</td>
                        <td>@timeSlot.EndTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>